body{
    font-family: 'PT Sans', sans-serif;
}

.area {
    fill: #1f77b4;
    stroke-width: 0;
}

.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}

.brush{
    fill: darkgrey;
    fill-opacity: .5;
    pointer-events: none;
}